# .gitignore

# some basic and python stuff
*.swp
*.pyc
*.egg-info/
__pycache__/
/.cache
/.coverage
/.deps
/.python-version
/.venv

# some build environment stuff
/.vagrant
/build
/doc/_build

# project stuff
/acme_powerdns/settings.py

# keys, signing requests and certificates
*.key
*.csr
*.crt
*.pem
*.ext
